<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600i|Work+Sans:400,700" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>David Hong</title>
</head>

<body>
  <header>
    <div id="navbar" class="container-float">
      <nav>
        <div class="logo">
          <a id="homeLink" href="#">
            <strong>David Hong</strong>
          </a>
        </div>
        <ul>
          <li>
            <a id="aboutLink" href="#">About</a>
          </li>
          <li>
            <a id="projectLink" href="#">Projects</a>
          </li>
          <li>
            <a id="contactLink" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container-float">
    <div class="first">
      <div class="thankyoutext">
        David Hong, Software Developer
      </div>
    </div>
    <div class="second">
      <div class="description">
        <div class="text">
          <h3>Hello,</h3>
          I am a 25 year old software developer from San Diego, California. I’ve recently made the transition into becoming a developer
          because I believe it is the perfect way to showcase my creative talent and logical thinking skills. The idea of being
          a part of this ever changing technology industry excites me and I am currently looking for full-time opportunities.
          When I’m not coding, you can find me behind the camera documenting my travels and the beauties found in my local community.
        </div>
      </div>
    </div>
    <div class="inbetween">
      <div class="skills row">
        <div class="col-lg-2">
          <img src="assets/html.png">
        </div>
        <div id="css" class="col-lg-2">
          <img src="assets/css.png">
        </div>
        <div class="col-lg-2">
          <img src="assets/js.png">
        </div>
        <div id="mongo" class="col-lg-2">
          <img src="assets/mongodb.png">
        </div>
        <div id="react" class="col-lg-2">
          <img src="assets/react.png">
        </div>
        <div id="node" class="col-lg-2">
          <img src="assets/nodejs.png">
        </div>
      </div>
    </div>
    <div class="third container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="top col-lg-4">
          <img class="center-block" src="assets/p1.png" />
        </div>
        <div class="top col-lg-4">
          <img class="center-block" src="assets/p1.png" />
        </div>
        <div class="col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="bottom col-lg-4">
          <img class="center-block" src="assets/p1.png" />
        </div>
        <div class="bottom col-lg-4">
          <img class="center-block" src="assets/p1.png" />
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <div class="fourth">
      <form action="/thanks" method="POST">
        <h3 id="contact">contact</h3>
        <div class="form-group">
          <label for="nameArea">Name</label>
          <input type="text" class="form-control" name="nameArea">
        </div>
        <div class="form-group">
          <label for="emailArea">Email</label>
          <input type="email" class="form-control" name="emailArea" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="textArea">Message</label>
          <textarea class="form-control" name="textArea" rows="3"></textarea>
        </div>
        <input type="submit" />
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script>
    $("#homeLink").click(function () {
      $('html,body').animate({
        scrollTop: $(".first").offset().top
      },
        1000);
    });

    $("#aboutLink").click(function () {
      $('html,body').animate({
        scrollTop: $(".second").offset().top
      },
        1000);
    });

    $("#projectLink").click(function () {
      $('html,body').animate({
        scrollTop: $(".third").offset().top
      },
        1000);
    });

    $("#contactLink").click(function () {
      $('html,body').animate({
        scrollTop: $(".fourth").offset().top
      },
        1000);
    });
  </script>
</body>

</html>